/* adminhome.css */

/* Style for the hosthome container */
.host-home {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    padding: 0 10px;
    background:url("/public/admin1.jpg") center/cover fixed;  ;
}

/* Style for the table */
.ant-table {
    margin-top: 20px; /* Add space between the table and the heading */
    
}
.table{
    width: 700px;
}

/* Style for the table header */
.ant-table-thead > tr > th {
    font-weight: bold;
}

/* Style for the delete icon */
.fa-trash {
    cursor: pointer; /* Change cursor to pointer on hover */
    color: red; /* Change color to red */
    margin-right: 10px; /* Add space between the icon and other elements */
}

