.booking-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center the cards horizontally */
}

.booking-card {
    width: 30%; /* Adjust the width to fit three cards per row with some space between them */
    margin: 10px; /* Add margin to create space between cards */
    padding: 20px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    border-radius: 8px;
    background-color: #0d82dccc;
    color: rgb(19, 18, 18);
}

.booking-card h3 {
    margin-bottom: 10px;
}

.booking-card p {
    margin-bottom: 5px;
}

.booking-card ul {
    list-style: none;
    padding: 0;
}

.booking-card ul li {
    margin-bottom: 3px;
}

.booking-card button {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #106ed2;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
   margin: 20px;
}

.booking-card button:hover {
    background-color: #e06208;
}

.confirm-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    background: url("/public/confirm.webp") center/cover fixed;
    background-attachment: fixed;
    padding: 0 10px;
}

.confirm {
    width: 100%;
    max-width: 1200px; /* Add a max-width to center the content */
}

.confirm h1 {
  text-align: center;
  margin-top: 80px;
  color: white;
}
/* li{
    color: white;
} */

.foot {
 margin-left: -10px;
 
}


